.outer_container {
    position: absolute;
    display: flex;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 150px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    min-height: 100vh;
    background-color: white;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.image {
    font-weight: bold;
    text-align: center;
    height: 400px;
    width: 350px;
    border: 10px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: .25s;
}

.image:hover
{
    border:2px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.image p {
    color: #6C7AE0;
    font-size: large;
}

.image img {
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
    transition: 0.2s linear;
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 300;
    display: none;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 300;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 5px;
    width: 500px;
    object-fit: cover;
}

@media  (max-width:768px){
    .popup-image img {
        width: 95%;
    }
}

.btn-tisk{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.btn-tisk{
    text-align: center;
    background-color: white;
    border-color: #0230FD;
    color: #0230FD;
    border-radius: 2px;
    border-width: 1px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 18px;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.btn-tisk:hover{
    background-color: #0230FD;
    color: white;
}
.btn-tisk:active{
    background-color: rgb(66, 134, 223);
    border-color: rgb(66, 134, 223);
}

